.top_icon_div{
    font-size: 20px;
    width: 30px;
    color: #a8dbdb;
    border: 1px solid #a8dbdb;
   text-align: center;
   padding: 5px;
   
}

.top_icon_div :hover{
        color: #ffffff;
    
}

